# 01. import libraries and df

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\paperspace\Desktop\01 Project Folders\01-2022 Climate_Change_Analysis'

In [3]:
df=pd.read_csv(os.path.join(path, 'Percentage of Energy Consumption by Country.csv'), index_col=False)

# 02. data quality

In [4]:
df.describe()

,Year,Coal Consumption - EJ,Gas Consumption - EJ,Geo Biomass Other - TWh,Hydro Generation - TWh,Nuclear Generation - TWh,Solar Generation - TWh,Wind Generation -TWh,Oil Consumption - EJ
count,5190.000000,5170.000000,5170.000000,5115.000000,5170.000000,5170.000000,5170.000000,5170.000000,5184.000000
mean,1992.823699,3.220641,2.396150,6.035605,75.479436,54.016024,1.707715,5.551028,4.456855
std,15.747169,13.681293,9.383618,30.659946,290.483522,241.244327,19.476769,47.841356,16.324680
min,1965.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1979.000000,0.008535,0.028308,0.000000,0.826151,0.000000,0.000000,0.000000,0.243499
50%,1993.000000,0.114435,0.186077,0.051000,6.179677,0.000000,0.000000,0.000000,0.555215
75%,2006.000000,0.720752,0.933519,1.375500,30.665025,8.208090,0.003742,0.040817,1.844076
max,2019.000000,161.976352,141.452770,651.811211,4222.214992,2803.366447,724.086506,1429.619982,193.031574

In [5]:
#Drop code column because not every country/entry has a code

df=df.drop('Code', 1)

C:\Users\PAPERS~1\AppData\Local\Temp\1/ipykernel_10500/509066054.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df=df.drop('Code', 1)

In [6]:
df.head()

,Entity,Year,Coal Consumption - EJ,Gas Consumption - EJ,Geo Biomass Other - TWh,Hydro Generation - TWh,Nuclear Generation - TWh,Solar Generation - TWh,Wind Generation -TWh,Oil Consumption - EJ
0,Africa,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241
1,Africa,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154
2,Africa,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799
3,Africa,1968,1.236646,0.038480,0.0,18.938341,0.0,0.0,0.0,1.344219
4,Africa,1969,1.247915,0.044971,0.0,22.100890,0.0,0.0,0.0,1.362729

# 03. mixed-type data

In [10]:
df.dtypes

Entity                       object
Year                          int64
Coal Consumption - EJ       float64
Gas Consumption - EJ        float64
Geo Biomass Other - TWh     float64
Hydro Generation - TWh      float64
Nuclear Generation - TWh    float64
Solar Generation - TWh      float64
Wind Generation -TWh        float64
Oil Consumption - EJ        float64
dtype: object

In [11]:
# Check for mixed types
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [14]:
# No mixed type data, so just changing the entity from object to string

df['Entity'] = df['Entity'].astype('str')

# 04. missing values

In [16]:
df.isnull().sum()

Entity                       0
Year                         0
Coal Consumption - EJ       20
Gas Consumption - EJ        20
Geo Biomass Other - TWh     75
Hydro Generation - TWh      20
Nuclear Generation - TWh    20
Solar Generation - TWh      20
Wind Generation -TWh        20
Oil Consumption - EJ         6
dtype: int64

In [18]:
# There are 20 null rows for entity, "Other CIS"
# Deleting these rows as they do not add to the analysis

In [21]:
#Creating df v2 without msising values
df2 = df[df['Solar Generation - TWh'].isnull() == False]

In [22]:
df2.shape

(5170, 10)

In [23]:
df.shape

(5190, 10)

# 05. duplicates

In [24]:
df_dups=df2[df2.duplicated()]

In [25]:
# No duplicate values

# 06. exporting

In [26]:
df2.to_csv(os.path.join(path, 'df_clean.csv'))